<main>
    <h1>{{ appName }}</h1>

    <p>Aplicació feta amb Angular per Jordi Vives.</p>
    <p>Aquesta aplicació és un exemple d'una aplicació de gestió de llibres, on es poden afegir, eliminar i visualitzar llibres en una biblioteca virtual.</p>

    <section class="targeta_projecte">
        <h2>Funcionalitats:</h2>
        <ul>
            <li>Afegir i eliminar llibres a la biblioteca.</li>
            <li>Visualitzar la llista de llibres disponibles.</li>
            <li>Filtrar llibres per títol, autor o altres criteris.</li>
        </ul>
    </section>
    <aside>
      <p>Projecte base llest</p>
    </aside>
</main>